*{
    font-family: fantasy;
    font-size: 35px;
    background-color: rgb(75, 40, 15);
    color: cornsilk;
}
.datos{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    list-style-type: none;
}
li{
    list-style-type: circle;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.datos:hover{
    font-size: 30px;
    color: darkgoldenrod;
}
.hobbies{
    font-size: 20px;
}
